.main-nav {
  color: white;
  /*background-color: red;*/
}

ul {
  list-style: none;
}
.site-list__item {
  width: 320px;
  height: 55px;
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.4);
  margin-bottom: 1px;
  box-shadow: inset;
  background-color: #81b3d2;
  text-align: center;
  font-family: "PTSans-Bold";
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  padding-top: 18px;
}

.site-list__item_icon-menu {
  width: 320px;
  height: 55px;
  display:block;
  margin:auto;

}

.icon-menu {
  width: 23px;
  height: 21px;
  object-fit: contain;
  position: absolute;
  display:block;
  margin:auto;

}
