@import "../variables.scss";
@import "../mixins.scss";

.advantages {
  width: 100%;
}

.advantages__intro {
  padding: 40px 25px 5px;
}

.advantages__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.advantages__item {
  display: flex;
  flex-direction: column;

  background-color: #efefef;

  &:first-child .advantages__heading {
    padding-top: 77px;

    background-image: url("../../img/bg-triangle.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }

  &:last-child .advantages__heading {
    border-bottom: 0;
  }
}

.advantages__text {
  margin: 0 auto;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $black-alt;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  &--bold {
    margin: 0 auto;
    margin-bottom: 27px;

    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}

.advantages__item picture {
  display: flex;
  height: 100%;

  background-color: #ffffff;
}

.advantages__image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.advantages__heading {
  margin: 0 auto;
}

.advantages__description {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .advantages__intro {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__text {
    width: 610px;

    &--bold {
      margin-bottom: 28px;

      width: 570px;
      font-size: 21px;
    }
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 256px;
    min-height: 256px;

    &:first-child .advantages__heading {
      padding-top: 45px;

      background-image: none;
    }

    &--active {
      flex-basis: 100%;
    }

    &:nth-child(2) .advantages__image-wrapper {
      order: -1;
    }
  }

  .advantages__image-wrapper {
    flex-grow: 2;
    height: 256px;
  }

  .advantages__image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    flex-basis: 400px;

    &:first-child .advantages__heading {
      padding-top: 53px;
    }

    &--active {
      flex-basis: 100%;
    }
  }
}
