@import "../variables.scss";
@import "../mixins.scss";

.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  padding: 0;
  width: 65px;
  height: 55px;

  background-color: #ffffff;

  cursor: pointer;
  border: none;

  &::before {
    content: "";

    position: absolute;
    top: 16px;
    right: 20px;

    width: 23px;
    height: 4px;

    background-color: #81b3d2;
    box-shadow: 0 8.5px 0 0 #81b3d2, 0 17px 0 0 #81b3d2;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  background-color: transparent;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 26px;
    right: 17px;

    width: 28px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__logo {
  align-self: center;
  margin-bottom: -35px;
  margin-left: 2px;
}

.main-nav__list {
  order: -1;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -51px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    bottom: -12px;
    margin-left: -94px;
  }
}
