@import "../variables.scss";
@import "../mixins.scss";

.page-footer {
  @include list-reset();

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 20px;

  background-color: #ffffff;
}

.page-footer__contacts {
  margin: 0;
  margin-bottom: 26px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  margin: 0;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 120px;
    padding: 19px 53px 19px 60px;
  }

  .page-footer__contacts {
    margin: 0;
    margin-top: 20px;
  }

  .page-footer__social {
    margin-right: 10px;
  }

  .page-footer__copyright {
    margin: 0;
    margin-top: 15px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
    padding-left: 120px;
    padding-right: 113px;
  }

  .page-footer__social {
    margin-right: 10px;
  }
}
