@import "../variables.scss";

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 112px;
  width: 100%;
}

.video__wrapper {
  padding: 32px 25px 35px;
  width: 100%;
}

.video__description {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $black-alt;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  &--bold {
    margin: 0;
    margin-bottom: 27px;

    font-family: "PT Sans Bold", "Arial", sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}

.video__player {
  margin-left: -1px;
}

@media (min-width: $tablet-width) {
  .video {
    padding: 34px 60px 48px;
  }

  .video__wrapper {
    margin: 0 auto;
    margin-bottom: 38px;
    width: 470px;
  }

  .video__description {
    &--bold {
      margin-bottom: 31px;
      font-size: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-top: 39px;
    padding-bottom: 92px;
  }

  .video__wrapper {
    margin-bottom: 35px;
  }

  .video__player {
    margin-left: -2px;
  }
}
